{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-3">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn btn-primary my-4">
                        <i class="fa fa-check" aria-hidden="true"></i> Submit
                    </button>
                </form>
            </div>
            <div class="col-3"></div>
            <div class="col-6">
                <h3 class="text-muted">choose a class for assignment detail</h3>
                {% for class in classes %}
                <div class="col-md-3">
                    <a href="{% url 'assignmentDetail' class.id  %}" class="text-decoration-none">
                        <div class="card border-primary mb-3" style="max-width: 18rem">
                            <div class="card-header text-dark">Class: {{class}}</div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</main>


{% endblock content %}