{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4">
                <ul>
                    {% if message %}
                    <li>{{message}}</li>
                    {% endif %}
                </ul>
                <form action="" method="post">
                    {% csrf_token %} {{form.as_p}}

                    <input type="submit" value="Create Class" />
                </form>


            </div>
            <div class="col-md-4 ms-5">
                <h1 class="mb-3 text-center"> <i class="fas fa-chalkboard    "></i> Created classes</h1>
                <div class="d-grid gap-2 col-6 mx-auto">
                    {% for class in classes %}
                    <a href="#" class="btn btn-primary" type="button">{{ class }}</a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</main>


{% endblock content %}